.fadeMe{
-webkit-filter: blur(20px);
filter: blur(20px);
pointer-events: none;
z-index:0;
position: absolute;
top: 0;
}


.main{
    z-index: 5;
}


.navigation {
    /* position: fixed; */
    position: absolute;
    top: 0;
    /* z-index: 100; */
    width: 100vw;
    margin: -0.5px;
    padding: 0 0.25rem;
    height: 2.5rem;
    /* background-color: #00002C; */
    /* border-bottom: .5px solid #fff; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    transition: .25s ease-out;
    font-family: 'IBMPlexMono';
}


.navigationCounter {
    padding: 0.5em;
    font-size: var(  --exx-small-font);
    text-transform: uppercase;
    letter-spacing: .0075em;
    line-height: 1.5em;
 
}


.navigationTitle{
    /* text-transform: uppercase; */
    /* position: fixed; */
    position: absolute;
    font-size: 2.75vw;
    font-family: 'PicNic';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    color: white;
    mix-blend-mode: difference;
}

.navigationButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.navigationButton:first-child {
    margin: auto 0;
}


.navigationButton--close {
    transform: rotate(45deg);
}


.navigationButton {
    padding: 0.5em;
    transition: .3s cubic-bezier(.55,.085,.68,.53);
}



.content {
    transition: .25s ease-out;
    width: 100vw;
    height: calc(10vh + 1px);
    z-index: 10000;
    /* border: 1px solid #fff; */
    /* border: 1px solidvar(--white); */
    margin: -0.5px;
    position: absolute;
    /* background: linear-gradient(to bottom,rgba(0,0,255,0.65) 0%, rgba(0,0,255,0.65) 80%, rgba(0,0,255,0) 100%); */
    /* filter: drop-shadow(0 500px 500px rgba(255, 0, 0, 0.65)) drop-shadow(0 500px 500px rgba(255, 0, 0, 0.65)); */
    color: white;
    /* mix-blend-mode: difference; */
    position: fixed;
    top: 0;
}


.contentSection {
    padding: 0em 0.75em 4em;
    /* position: fixed; */

}


.contentHeader {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
    font-family: "Helvetica Neue LT W01_65 Md",helvetica,sans-serif;
    font-weight: lighter;
    /* position: fixed */
}



.contentTitle{
    font-size: var( --med-font);
    z-index: 100;

}

.contentSubTitle{
    font-size: var( --med-font);
    z-index: 100;
}



/* --------------------- gradient */

.gradientTop{
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 13rem;
    background: linear-gradient(to bottom, rgba(0,0,255,0.65) 0%, rgba(0, 0, 110, 0.65) 80%, rgba(0,0,255,0) 100%);
    /* mix-blend-mode: color; */
    /* background: liner */
    /* opacity: .5; */
  }




/* ----------------- popup */
.text{
    height:auto;
    overflow: scroll;
    color: white;
    mix-blend-mode: difference;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.paragraph{
    padding-bottom: 3vw;
}


.subheader{
    /* padding-bottom: .5vw; */
    font-size: 1.5vw;
    padding: 10px;
    text-transform: uppercase;
}

  .popup {
    /* position: fixed; */
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 98vw;
    /* height: calc(calc(100vh - 6vw) - 1px); */
    background-color: transparent;
    z-index: 200;
    top: calc(3vw + 1px);
    padding: 8.8vw 3vw 3vw 3vw;
    overflow: auto;
    line-height: 1.35vw;
    font-size: 1.15vw;
    color:#ffffff;
    /* background-color: white; */
}

.column {
    width: 46vw;
    height: calc(100vh - 7.9vw);
    padding-bottom: 3vw;
    top: 0;
    position: relative;
    float: left;
    margin-right: 2vw;
    overflow-y: auto !important;
    z-index: 100;
}


.FixedHeightContainer
{
  /* float:right;  */
    z-index: 1000;
    width:100%;
    color: white;
    mix-blend-mode: difference;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Content
{
  height:auto;
  width:100%;
   overflow:auto;
    /* background:#fff; */
}


.footer{
    position: absolute;
    bottom: 0;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    /* border-top: 1px solid #eaeaea; */
    justify-content: left;
    align-items: left;
  }
  
  .footer a {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-grow: 1;
  }

/* .main{
    overflow-y: hidden !important;
} */











































/* -----------------Background content */



  @font-face {
    font-family: 'PicNic';
    src: url('../public/assets/fonts/webfonts/PicNic-Regular.woff');
    /* src: url('../asset/OpenSans/OpenSans-Medium.ttf'); */
    font-weight: 400;
    font-style: normal;
    }
  
    
  
  
  .container {
    padding: 0 2rem;
  }
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    /* border-top: 1px solid #eaeaea; */
    justify-content: left;
    align-items: left;
  }
  
  .footer a {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-grow: 1;
  }
  
  
  
  
  
  /* --------------- Top header */
  
  
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: var(--s-10);
    z-index: 0;
    padding-top: var(--s-20);
    font-family: 'IBMPlexMono'; 
    border-bottom: .3px solid #b3b3b3;
  }
  
  
  .wrapperHeader {
      float: right;
      width: 100%;
  }
  
  .containerHeader {
    text-transform: uppercase;
    display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      mix-blend-mode: difference;
      font-size: var(  --exx-small-font);
      /* color: #b3b3b3; */
      flex-wrap: wrap;
      font-weight: lighter;
      float: right;
      /* filter: drop-shadow(0 0 0.75rem #000000); */
  
     
  }
  
  .fieldtext {
    padding-right: .5rem;
    /* filter: drop-shadow(0 0 0.75rem #000000); */
    padding-bottom: var( --bot-spaceing);
  }
  
  
  
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: var(--s-10);
    z-index: 105;
    font-size: 10px;
    /* background-color: rgba(0,0,255,0.65); */
    /* mix-blend-mode: multiply; */
    /* mix-blend-mode: exclusion; */
  }
  
  
  .tlabel {
    text-transform: uppercase;
    font: var(--t-label);
    display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
  }
  
  .headeredition {
    margin-right: var(--s-20);
  }
  
  .headertime {
    flex: auto;
  }
  
  
  .ul {
    margin:0 auto;
    padding:0px;
    list-style:none;
    flex: auto;
    z-index: -10;
    /* float:right; */
  }
  
  .ul li {
    display:inline;
    flex: auto;
  }
  
  .spaceingTime{
    padding-left: 250px;
  }
  
  .spaceingAxies{
    padding-right: 250px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  
  /* ----------------------- Centered text ------------------------- */
  
  
  .centeredElements{
    display: flex;
    /* padding-top: var(--s-10); */
    flex-wrap: wrap;
    text-transform: uppercase;
    justify-content:  center;
    width: 100vw;
    z-index: 10;
    transition: all 1s ease-out;
  }
  
  .subMenu{
    margin-left: auto;
    margin-right:  auto;
    /* mix-blend-mode:difference; */
    display: table-cell;
    width:100vw; 
    z-index: 10;
    display: flex;
    padding: var(--s-20);
    font-size: var( --exx-small-font);
    justify-content: space-between;
    
  }
  .subMenu a{
    /* padding-left: var(--s-160);
    padding-right: var(--s-160); */
    z-index: 10;
    display: inline-block;
    justify-content:  space-evenly;
  }
  
  
  .subText{
    justify-content:  center;
    margin: var(--s-10) auto;
    padding-top: var(--s-10);
    mix-blend-mode:difference;
    font-size: var( --xx-small-font);
    text-transform: none;
    width: 100vw;
    padding: var(--s-20);
    /* text-transform: uppercase; */
  }
  
  
  .subTextOpacity{
    position: relative;
    text-align: center;
    word-spacing: 2rem;
    font-size: var( --ex-small-font);
    margin: var(--s-10) auto;
    justify-content:  center;
    width: unset;
  }
  
  
  
  .algaeListContainer {
    width:100%;
    justify-content: center; 
    margin: 0 auto;
    font-size: var( --ex-small-font);
    padding-top: var(--s-10);
  }
  
  
  .algaeListContainer div{
    width:50%;
    /* display: flex; */
    /* justify-content: center; */
    justify-content: space-between;
  }
  
  .algaeListTitle{
    width:70%;
    display: flex;
    justify-content: left;
    /* justify-content: space-between; */
  }
  
  
  .algaeListWrapper{
    display: table-cell;
    justify-content: space-between;
    width:100vw; 
  }
  
  
  .algaeList li{
    list-style: none;
    justify-content:  space-evenly;
  }
  
  
  .algaeList{
    display:block;
    float:left;
    justify-content:  space-evenly;
    margin: 0 auto;
    padding: 0 auto;
    
  }
  
  
  /* blur by defult */
  .goodVision{
    filter: blur(.5px);
  }
  .fairVision{
    filter: blur(1.5px);
  }
  .poorVision{
    filter: blur(2.5px);
  }
  /* only blur on hover */
  /* .goodVision:hover{
    filter: blur(.5px);
  }
  .fairVision:hover{
    filter: blur(1.5px);
  }
  .poorVision:hover{
    filter: blur(2.5px);
  } */
  
  
  .linkTop{
    text-decoration: none;
    padding-left: 0vw;
    transition: opacity 0.35s, padding-left 0.75s;
  }
  
  
  .linkTop:hover{
    /* color:#cfff00; */
    mix-blend-mode: difference;
    transition: opacity 0.35s, padding-left 0.75s;
    padding-left: 1.5vw;
  }
  
  .link{
    text-decoration-thickness: .5px;
    text-decoration: underline;
    text-underline-offset: .5px;
    transition: opacity 0.35s, padding-left 0.75s;
    padding: var(--s-10);
  }
  
  .link:hover{
    /* color:#cfff00; */
    color:#ffffff;
    transition: opacity 0.35s, padding-left 0.75s;
    mix-blend-mode: difference;
  }
  
  
  /* ----------------------- Live font */
  
  .livetextContainer{
    display:flex;
    margin: auto;
    width: 100%;
    /* height: 20%; */
  }
  
  
  .livetext {
    margin: 0;
    line-height: var( --line-height);
    font-size: var( --xe-large-font);
    font-weight: 300;
    mix-blend-mode: difference;
    text-transform: uppercase;
    font-family: 'PicNic';
    color:#000dff;
    z-index: 0;
    pointer-events: none;
    /* padding: var(--s-40); */
    margin-top: var(--m-20);
    margin-bottom: var(--s-20);
    transition:none;
    /* position: fixed;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%); */
    /* color:#cfff00; */
  }
  
  .livetext,
  .description {
    z-index: 0;
    text-align: center;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: var( --med-font);
  }
  
  
  
  
  

  
  
  
  /* --------------------- decorative */
  .cordiantesContainer{
    color:#000dff90;
    mix-blend-mode: difference;
    display: flex;
    justify-content: space-between;
    width:100vw; 
    padding: var(--s-10);
    transition: all 1s ease-out;
  }
  
  .plus{
  font-size: .850vw;
  }
  
  .cord{
    font-size: 0.6375vw;
  }
  
  
  .cursorimg{
  z-index: 100000;
  position: absolute;
  mix-blend-mode: multiply;
  }
  
  
  
  
  .livetext{
    display: inline-block;
    position: fixed;
    transition: all 80s ease-out;
    /* right: -50%; */
    transform-origin: 0 0;
  transform: translate(-100%, 50%) translate(100%, -50%);
    width: 100vw;
    padding-top: 50vh;
    margin-right: 30vh;
    /* height: 50vh; */
  }
  
  
  .livetextContainer{
    height: 50vh;
    width: 100vw;
    transform-origin: center;
  }
  
  .livetextWrapper{
    margin: auto;
    justify-content: center;
    width: 100vw;
    overflow:hidden;
    transform-origin: center;
  }


  .fadeMe{
    -webkit-filter: blur(20px);
    filter: blur(20px);
    pointer-events: none;
    z-index:0;
    position: absolute;
    top: 0;
    }