@font-face {
  font-family: 'PicNic';
  src: url('../asset/fonts/webfonts/PicNic-Regular.woff');
  /* src: url('../asset/OpenSans/OpenSans-Medium.ttf'); */
  font-weight: 400;
  font-style: normal;
  }


html,
body {
  padding: 0;
  margin: 0;
    background: #00002C;
    background: #0000ff;  
    background: radial-gradient(circle at center , #6b70ff 0,#4134ff 20%,#3535ff, #0000ff 100%);   
    /* background: radial-gradient(circle at center , #53535396 0,#271d7c76 20%,#00002c, #050567 100%); */
    /* background: radial-gradient(circle at center , #ffffff96 0,#8b83ff76 20%,#4444ff, #0000ff 100%); */
    /* background: radial-gradient(circle at center , #ffffff96 0,#12129176 40%,#00002c, #00002C 100%); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    /* color: white; */
    /* background: black; */
  }
}
