@font-face {
  font-family: 'PicNic';
  src: url('../public/assets/fonts/webfonts/PicNic-Regular.woff');
  /* src: url('../asset/OpenSans/OpenSans-Medium.ttf'); */
  font-weight: 400;
  font-style: normal;
  }

  


.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  /* border-top: 1px solid #eaeaea; */
  justify-content: left;
  align-items: left;
}

.footer a {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-grow: 1;
}





/* --------------- Top header */


.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: var(--s-10);
  z-index: 10;
  padding-top: var(--s-20);
  font-family: 'IBMPlexMono'; 
  /* background-color: #658A2A; */
  border-bottom: .3px solid #b3b3b3;
}


.wrapperHeader {
    float: right;
    width: 100%;
}

.containerHeader {
  text-transform: uppercase;
  display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    /* mix-blend-mode: difference; */
    font-size: var(  --exx-small-font);
    /* color: #b3b3b3; */
    flex-wrap: wrap;
    font-weight: lighter;
    float: right;
    /* filter: drop-shadow(0 0 0.75rem #000000); */

   
}

.fieldtext {
  padding-right: .5rem;
  /* filter: drop-shadow(0 0 0.75rem #000000); */
  padding-bottom: var( --bot-spaceing);
}



.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: var(--s-10);
  z-index: 105;
  font-size: 10px;
  /* background-color: rgba(0,0,255,0.65); */
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: exclusion; */
}


.tlabel {
  text-transform: uppercase;
  font: var(--t-label);
  display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.headeredition {
  margin-right: var(--s-20);
}

.headertime {
  flex: auto;
}


.ul {
  margin:0 auto;
  padding:0px;
  list-style:none;
  flex: auto;
  z-index: -10;
  /* float:right; */
}

.ul li {
  display:inline;
  flex: auto;
}

.spaceingTime{
  padding-left: 250px;
}

.spaceingAxies{
  padding-right: 250px;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}



/* ----------------------- Centered text ------------------------- */


.centeredElements{
  display: flex;
  /* padding-top: var(--s-10); */
  flex-wrap: wrap;
  text-transform: uppercase;
  justify-content:  center;
  width: 100vw;
  z-index: 10;
  transition: all 1s ease-out;
}

.subMenu{
  margin-left: auto;
  margin-right:  auto;
  /* mix-blend-mode:difference; */
  display: table-cell;
  width:100vw; 
  z-index: 10;
  display: flex;
  padding: var(--s-20);
  font-size: var( --exx-small-font);
  justify-content: space-between;
  
}
.subMenu a{
  /* padding-left: var(--s-160);
  padding-right: var(--s-160); */
  z-index: 10;
  display: inline-block;
  justify-content:  space-evenly;
}


.subText{
  justify-content:  center;
  margin: var(--s-10) auto;
  padding-top: var(--s-10);
  mix-blend-mode:difference;
  font-size: var( --xx-small-font);
  text-transform: none;
  width: 100vw;
  padding: var(--s-20);
  padding-top: 0;
  margin-top: 0;
  /* text-transform: uppercase; */
}


/* .subTextOpacity{
  position: absolute;
  top: 58vh;
  color: #00a;
  transition: all 2s ease-out;
  width: 10vw;
  text-align: center;
  font-size: 1.25vw;
  padding: -20vh;
  font-family: 'Helveticalight';
  justify-content:  center;
  width: unset;
} */
.subTextOpacity{
  position: relative;
  text-align: center;
  word-spacing: 2rem;
  font-size: var( --ex-small-font);
  margin: var(--s-10) auto;
  justify-content:  center;
  width: unset;
}



.algaeListContainer {
  width:100%;
  justify-content: center; 
  margin: 0 auto;
  font-size: var( --ex-small-font);
  padding-top: var(--s-10);
}


.algaeListContainer div{
  /* width:50%; */
  width: 47vw;
  /* display: flex; */
  /* justify-content: center; */
  justify-content: space-between;
}

.algaeListTitle{
  width:70%;
  display: flex;
  justify-content: left;
  /* justify-content: space-between; */
}


.algaeListWrapper{
  display: table-cell;
  justify-content: space-between;
  width:100vw; 
}


.algaeList li{
  list-style: none;
  justify-content:  space-evenly;
}


.algaeList{
  display:block;
  float:left;
  justify-content:  space-evenly;
  margin: 0 auto;
  padding: 0 auto;
  
}



/* blur by defult */
.ExcellentVision{
  filter: blur(0px);
  opacity: 1;
  /* color:#658A2A; */
}
.goodVision{
  filter: blur(4px);
  opacity: .7;
  /* color:#658A2e; */
  /* color:#ae0e0eed; */
}
.fairVision{
  filter: blur(13px);
  opacity: .7;
  /* color:#658A2Aed; */
  /* color:#33ae0ecb; */
}
.poorVision{
  filter: blur(18px);
  /* color:#658A2A9b; */
  opacity: .7;
}

/* only blur on TEXT */
.excellentVisiontext{
  /* color:#33ae0e; */
}
.goodVisiontext{
  filter: blur(.8px);
  /* color:#33ae0eed; */
}
.fairVisiontext{
  filter: blur(1.5px);
  
  /* color:#33ae0ecb; */
}
.poorVisiontext{
  /* color:#33ae0e9b; */
  filter: blur(2.9px);
  opacity: .7;
}


.linkTop{
  text-decoration: none;
  padding-top: 0vw;
  transition: opacity 0.35s, padding-top 0.75s;
}


.linkTop:hover{
  /* color:#cfff00; */
  mix-blend-mode: difference;
  transition: opacity 0.35s, padding-top 0.75s;
  padding-top: 1.5vw;
}

.link{
  text-decoration-thickness: .5px;
  text-decoration: underline;
  text-underline-offset: .5px;
  transition: opacity 0.35s, padding-top 0.75s;
  padding: var(--s-10);
}

.link:hover{
  /* color:#cfff00; */
  color:#ffffff;
  transition: opacity 0.35s, padding-top 0.75s;
  mix-blend-mode: difference;
}


/* ----------------------- Live font */

.livetextContainer{
  display:flex;
  margin: auto;
  width: 100%;
  /* height: 20%; */
}


.livetext {
  /* margin: auto; */
  margin-top: auto;
  line-height: var( --line-height);
  font-size: var( --large-font);
  font-weight: 300;
  mix-blend-mode: difference;
  text-transform: uppercase;
  font-family: 'PicNic';
  /* color:#000dff; */
  /* color:#658A2A; */
  padding: var(--s-40);
  /* z-index: 1; */
  pointer-events: none;
  /* padding: var(--s-40);
  margin-top: var(--m-20);
  margin-bottom: var(--s-20); */
  transition:none;
  /* position: fixed;
  left: 50%;
  top: 51%;
  transform: translate(-50%, -50%); */
  /* color:#cfff00; */
}

.livetext,
.description {
  z-index: 100;
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: var( --med-font);
}





/* --------------------- gradient */

.gradientTop{
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 13rem;
  background: linear-gradient(to bottom, rgba(0,0,255,0.65) 0%, rgba(0,0,255,0) 100%);
  /* mix-blend-mode: color; */
  /* background: liner */
  /* opacity: .5; */
}



/* --------------------- decorative */
.cordiantesContainer{
  color:#000dff90;
  mix-blend-mode: difference;
  display: flex;
  justify-content: space-between;
  width:100vw; 
  padding: var(--s-10);
  transition: all 1s ease-out;
}

.plus{
font-size: .850vw;
}

.cord{
  font-size: 0.6375vw;
}


.cursorimg{
z-index: 100000;
position: absolute;
mix-blend-mode: multiply;
}




.livetext{
  display: inline-block;
  /* position: fixed; */
  /* transition: all 80s ease-out; */
  /* right: -50%; */
  transform-origin: 0 0;
/* transform: translate(-100%, 50%) translate(100%, -50%); */
  width: 100vw;
  /* padding-top: 50vh; */
  /* margin-right: 30vh; */
  height: 54vh;
  /* color: white; */
  z-index: 1000;
  mix-blend-mode: difference;
}


.livetextContainer{
  /* height: 50vh; */
  width: 100vw;
  transform-origin: center;
}

.livetextWrapper{
  margin: auto;
  justify-content: center;
  width: 100vw;
  overflow:hidden;
  transform-origin: center;
  /* color: white; */
  z-index: 1000;
  mix-blend-mode: difference;

}



/* Live text hover */

/* .livetext:hover {
 color: black;
} */

/* modal */

.ExcellentVision:hover{
  color:#ff0000;
}
.goodVision:hover{
  color:#ff0000;
}
/* .livetextContainer:hover{
  color:#ff0000 !important;
  z-index: 1000;
} */
.poorVision:hover{
  color:#ff0000;
}


.nppostname {
position: absolute;
z-index: 1000;
    top: 40%;
    left: 50%;
    margin-top: 10px;
    width: 30%; 
    opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
    -webkit-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.4;
    visibility: hidden;
    pointer-events: none;
    color:#ff0000;
    transition-duration: 2s;
}
    
.nppost:hover + .nppostname {
    opacity: 1;
    visibility: visible;
    transition-duration: 1.5s;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}