@font-face {
  font-family: 'PicNic';
  src: url('../asset/fonts/webfonts/PicNic-Regular.woff');
  /* src: url('../asset/OpenSans/OpenSans-Medium.ttf'); */
  font-weight: 400;
  font-style: normal;
  }

  


.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  /* border-top: 1px solid #eaeaea; */
  justify-content: left;
  align-items: left;
}

.footer a {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-grow: 1;
}





/* ----------------------- Live font */


.livetext {
  margin: 0;
  line-height: 250px;
  font-size: 300px;
  font-weight: 300;
  /* mix-blend-mode: difference; */
  text-transform: uppercase;
  font-family: 'PicNic';
  color:#cfff00;
}

.livetext,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}





/* --------------------- gradient */

.gradientTop{
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;
  background: linear-gradient(180deg, rgb(0, 0, 255), transparent);
  width: 100vw;
  /* mix-blend-mode: color; */
  /* background: liner */
}



